/* #################################################### */
html {
    scroll-behavior: smooth;
}

/* The switch */
.switch {
    position: relative;
    display: flex;
    width: auto;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.darktogel {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2.2em;
    color: rgba(255, 255, 255, 0.767);
    ;
}

/* #################################################### */

/* carousel */

.carousel {
    padding-top: 0 !important;
    margin-top: -3em !important;
}

.carouselbtn {
    font-size: 2em;
}

.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

.carousel-caption {
    z-index: 9;
}

.gbr {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-40%);
    bottom: initial;
}

.cntrl {
    visibility: hidden;
}

.carousel:hover .cntrl {
    visibility: visible;
}

/* ############################################################## */
.quote {
    font-family: "Spectral", serif;
    font-weight: 700;
}

.slider-text2 p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.slider-text h1 {
    font-size: 4em;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    font-style: italic;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}

.slider-text2 h1 {
    font-size: 2.5em;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    font-style: italic;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}

.slider-text {
    padding: 0px 0;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}


@media (max-width: 768px) {

    .owl-one h1 {
        position: fixed !important;
        text-align: center !important;
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0 !important;
        line-height: 8em !important;
        left: 0 !important;
        right: 0 !important;
    }

    .teks {
        padding-top: 2em !important;
    }

    .owl-one {
        position: relative !important;
        right: 0 !important;
        left: 0 !important;
    }

    .featured-carousel {
        position: relative !important;
        right: 0 !important;
        left: 0 !important;
        text-align: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .slider-text h1 {
        font-size: 80px;
        color: #fff;
        line-height: 1.1;
        font-weight: 700;
        font-style: italic;
        color: transparent;
        -webkit-text-fill-color: transparent;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #fff;
    }

    .slider-text {
        padding: 30px 0;
        -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    .slider-text2 h1 {
        font-size: 80px;
        color: #fff;
        line-height: 1.1;
        font-weight: 700;
        font-style: italic;
        color: transparent;
        -webkit-text-fill-color: transparent;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #fff;
    }

    .owl-one {
        overflow: hidden;
        height: auto;
        padding-left: 5rem;
    }

    .owl-one .block-1 h1,
    .owl-one .block-3 h1,
    .owl-one .block-5 h1,
    .owl-one .block-7 h1,
    .owl-one .block-9 h1,
    .owl-one .block-11 h1 {
        bottom: 0;
        right: -23%;
    }

    .owl-one .block-2 h1,
    .owl-one .block-4 h1,
    .owl-one .block-6 h1,
    .owl-one .block-8 h1,
    .owl-one .block-10 h1,
    .owl-one .block-12 h1 {
        right: -23%;
    }
}

/* ############################################## */

.slider-text h1 span {
    color: #b7472a;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0px;
}

.slider-text2 h1 span {
    color: #b7472a;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0px;
}


/* ################## */
.about {
    /* background: #b7472a; */
    align-items: center;
    text-align: center;
}


.about .intro {
    z-index: 0;
    position: relative;
}

.intro {
    width: 100%;
    background: #b7472a;
    padding: 30px;
}

.intro.color-1 {
    background: #ab4227;
}

.intro.color-2 {
    background: #a23f25;
}

.intro .icon {
    margin-right: 20px;
}

.intro .icon span {
    font-size: 60px;
    color: #fff;
}

.intro .text {
    color: rgba(255, 255, 255, 0.8);
}

.intro .text h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

/* ######################################## */

.logoae {
    width: 60%;
}

.judul {
    color: var(--first-color);
}

.parallax {
    /* The image used */
    background-image: url(../img/about.png);


    /* Set a specific height */
    min-height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url(../img/paralak.jpg);


    /* Set a specific height */
    min-height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    padding-top: 3rem;
    margin-top: -3rem;
}

#history {
    padding-top: 3rem;
    margin-top: -3rem;
}

#leader {
    padding-top: 3rem;
    margin-top: -3rem;
}

#division {
    padding-top: 3rem;
    margin-top: -3rem;
}



/* ######################################### */
/*scroll up*/
#myBtn {
    background-color: #028784;
    height: 50px;
    width: 50px;
    border: 0px solid rgb(255, 255, 255);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#myBtn:hover {
    background-color: rgb(0, 100, 100);
}

.butonUP {
    font-size: 2em;
    justify-content: center;
}

/* ################################################## */
.owl-one {
    overflow: hidden;
    height: auto;
    /* padding-left: 5rem; */
}

.owl-one .block {
    position: relative;
    width: 19em;
    height: 14em;
    margin: 0px 50px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.owl-one h1 {
    position: absolute;
    font-family: "spectral";
    font-weight: 700;
    z-index: 99;
}

.owl-one .block-1 {
    background: url(../img/img-one.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-2 {
    background: url(../img/img-two.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-3 {
    background: url(../img/img-three.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-4 {
    background: url(../img/img-four.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-5 {
    background: url(../img/img-five.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-6 {
    background: url(../img/img-one.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-7 {
    background: url(../img/img-two.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-8 {
    background: url(../img/img-three.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-9 {
    background: url(../img/img-four.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-10 {
    background: url(../img/img-five.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-11 {
    background: url(../img/img-four.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one .block-12 {
    background: url(../img/img-five.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.owl-one {
    width: 1000px;
    height: auto;
}

/* ########################################### */
.work {
    width: 100%;
    max-height: 25em;
}

.work .img {
    width: 18em;
    height: 20em;
    position: relative;
    /* border-radius: 15px; */
    overflow: hidden;
    -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    z-index: 0;
}

.work .img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background: rgba(255, 93, 177, 0);
    background: -moz-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 93, 177, 0)), color-stop(42%, rgba(148, 54, 103, 0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -o-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -ms-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 93, 177, 0)), color-stop(42%, rgba(148, 54, 103, 0)), to(black));
    background: linear-gradient(to bottom, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5db1', endColorstr='#000000', GradientType=0);
    opacity: .6;
}

.work .text {
    padding: 35px 35px 20px 35px;
    padding-top: 2em;
}

.work .text h3 {
    font-weight: 700;
    font-family: "Spectral", serif;
    margin-bottom: 0;
}

.work .text h3 a {
    color: #fff;
}

.work .text .cat {
    font-size: 12px;
    color: #028784;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.9);
    padding: 1px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    /* margin-bottom: 5px; */
    font-family: 'Karla', sans-serif;
}

.featured-carousel .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}

/* ######################################### */
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.testimony-wrap .user-img {
    width: 5em;
    height: 5em;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.testimony-wrap .name {
    font-weight: 500;
    margin: 0 1em 0 0 !important;
    color: #fff;
    font-family: 'Karla', sans-serif !important;
    font-style: normal !important;
}

.testimony-wrap .text p {
    font-style: italic;
    font-family: "spectral", serif;
    text-align: left !important;
}

.icon {
    position: absolute !important;
    color: #fff !important;
    top: 0px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #028784;
    z-index: 999 !important;
}

.testimony-wrap {
    margin-top: 20px;
    display: block;
    /* position: relative; */
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 20px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
}

.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 1.5em;
}

.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #e6e6e600;
    position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}
.owl-dots .owl-dot.active {
    background: #028784 !important;
}

/* ############################################# */

.bg-light,
.bg-white,
.text-dark,
.darktogel,
#header {
    transition: 1s;
}